
@{
    ViewData["Title"] = "Profile";
}

<h2>Profile</h2>


<p>
    <strong> Logged In User : <span>@User.Identity.Name</span></strong>
</p>
<br />

<h2>Manage</h2>
<button class="btn btn-secondary">Update Username</button>
<button class="btn btn-secondary">Update Password</button>
